html {
  /*62.5% of 16px */
  font-size: 62.5%;
}

.box1 {
  border: 3px solid gold;
  width: 150px;
  height: 150px;
  overflow: auto;
  /* overflow hidden: hides extra content via scrollbars
  Edit: There's no scrollbar lol*/
  /* overflow: auto , scrollbar only appears if there is an overflow*/
  /* overflow has an x and y value, overflow: hidden auto;*/
}

.box2 {
  /*50% of the width of the parent element, which in this case is body.*/
  /*width 50%*/
  /*width: 50vw;*/
  /*EM: 10 x font size of the current element 
  Em only works */
  /*width: 10em;*
  /* 10 x font size of the root element */
  width: 10rem;
  height: 100vh;
  /*Viewport units allow us to size our elements according to the height
  or width of the viewport*/
  background-color: gold;
  border-top: 3px solid orange;
}
