.container {
  display: grid;
  /* 3x2 */
  /* grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);*/
  /*grid-template: repeat(3, 100px) / repeat(2, 100px);*/
  /*grid-template: repeat(3, 100px) / 30% 70%*/
  /*Percentages are tricky when working with grids*/
  /*Percentage is based on the width of the container and not the available 
  free space*/
  /*grid-template: repeat(3, 100px) / 100px 30fr 70fr;*/
  /* fr - stands for Fraction of available space*/
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  /*To spedcify an emply cell type a period*/
  border: 3px solid lightgrey;
  row-gap: 10px;
  column-gap: 10px;
  gap: 10px 20px;
  /*justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;*/
  height: 100vh;
}

.box {
  /*width: 5rem;
  height: 5rem;*/
  background-color: gold;
}

.box-one {
  grid-column: 1 / 2;
  /*By default each item takes up one cell but if we want an item 
  to take up multiple cells we can use the start / end syntax;*/
  /*grid-row: 2;*/
  grid-area: header;
}

.box-four {
  grid-area: footer;
}
